{% extends "layouts/base.html" %}

{% block title %}
Projects
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>My Projects</h2>

    <a href="{{ url_for('project.add_project') }}"
       class="btn btn-primary">

        + New Project

    </a>

    <a href="{{ url_for('project_dashboard.dashboard') }}"
   class="btn btn-primary mb-3">

    📊 Project Dashboard

</a>

</div>

{% if projects %}

<div class="row">

{% for project in projects %}

<div class="col-lg-4 col-md-6 mb-4">

    <div class="card shadow h-100">

        <div class="card-body">

            <h4 class="fw-bold">

                {{ project.name }}

            </h4>

            <p class="text-muted">

                {{ project.description }}

            </p>

            {% if project.status == "Completed" %}

                <span class="badge bg-success">

                    Completed

                </span>

            {% else %}

                <span class="badge bg-primary">

                    {{ project.status }}

                </span>

            {% endif %}

            <div class="mt-4">

                <div class="d-flex justify-content-between">

                    <small>Progress</small>

                    <small>{{ project.progress }}%</small>

                </div>

                <div class="progress mt-2">

                    <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: {{ project.progress }}%;">

                    </div>

                </div>

            </div>

            <div class="mt-4 d-flex gap-2 flex-wrap">

                <a href="{{ url_for('task.view_tasks', project_id=project.id) }}"
                   class="btn btn-primary btn-sm">

                    Open

                </a>

                <a href="{{ url_for('team.manage_team', project_id=project.id) }}"
   class="btn btn-info btn-sm">

    Team

</a>

                <a href="{{ url_for('project.edit_project', id=project.id) }}"
                   class="btn btn-warning btn-sm">

                    Edit

                </a>

                <a href="{{ url_for('project.delete_project', id=project.id) }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this project?')">

                    Delete

                </a>

            </div>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% else %}

<div class="alert alert-info">

    No projects found.

    <br><br>

    Click <strong>+ New Project</strong> to create your first project.

</div>

{% endif %}

{% endblock %}