# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# SQLite Database
*.db
instance/

# Uploaded Files
static/uploads/

# Logs
*.log

# Python Build Files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/